@import "../../assets/sass/variables.scss";
.inputRow {
  margin-top: 15px;
  label {
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 700;
    cursor: pointer;
    sup {
      color: $errorColor;
    }
  }
  .form-control {
    font-size: 14px;
    border-radius: 4px;
    height: 45px;
    box-sizing: border-box;
  }
 &__customcheck{
    display: flex;
  }
}

.customCheckItem {
  overflow: hidden;
  margin-right: 24px;
  input {
    visibility: hidden;
    position: fixed;
  }
  label {
    padding-left: 24px;
    position: relative;
    font-weight: 400;

    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 18px;
      height: 18px;
      border: 2px solid #ccc;
      transition: all .30s ease-in-out;
    }
  }
}

.customCheckItem input:checked + label {
    color: $primary-color;
    
  &:after {
    background-color: $primary-color;
    border-color:$primary-color;
  }
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
    transition: all .30s ease-in-out;
    z-index: 2;
  }
}

textarea.form-control.txtearea {
  height: auto;
}


.upload{
  label{
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 700;
  }

  &__Inner{
    position: relative;
    input{
      position: fixed;
      visibility: hidden;
    }

    label{
      border:1px dashed #51aa57;
      background-color: #f1ffed;
      min-height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: #51aa57;
      cursor:pointer;
    }
  }
}

.full-width{
  .react-ripples{
    width:100%;
    button{
      width:100%
    }
  }
}