@import '../../assets/sass/variables.scss';

.aboutPage {
    &__text{
       

        h2{
            font-weight: 700;
            font-size: 28px;
            margin: 40px 0 10px 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $text-Color;

            &:nth-child(1){
                margin-top: 0;
            }
        }
    }
}